/* Style the body element */
body {
	font-family: Arial, sans-serif;
	color: white;
	background-color:beige;
}

.hero-image {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.choosechicago.com/uploads/2019/06/Revolution_4c0649ed-696b-40cd-9f75-59bbec8bff1e.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}

/* Style the h1 element */

h1 {
	text-align: center;
	font-size: 50px;
	color: white;
	font-family: 'Rampart One', cursive;
}



h2 {
	font-family: 'Rampart One', cursive;
	color: white
}

/* Style the form element */

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0;
}

label {
	margin-bottom: 10px;
}

input[type="text"] {
	padding: 5px;
	border: 2px solid #ccc;
	border-radius: 4px;
}

button[type="submit"] {
	margin-top: 10px;
	padding: 5px 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #3e8e41;
}

/* Style the div element that displays brewery information */
#info-box {
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	font-size: x-large;
	float: inline-end;
}

footer {
	text-align: center;
	font-size: x-large;
	display: block;
	padding: 50px;
	color: blue;
}